extends layout
append head
  link(rel="stylesheet" href="/stylesheets/create-edit-review.css")
  script(src='/javascripts/show.js' type='module')
  link(rel="stylesheet", href="/stylesheets/star.css")
include utils
block content
  div(class="showInfo")
    img(src=show.imageURL class="img")
    div(class="showText")
      div
        h1= show.title
      div
        h2 Number of seasons: #{show.numberOfSeasons}
        h3 Year released: #{show.yearReleased}
      div
        a(href=`/shows/${show.id}`) Cancel review
      div
        p= show.synopsis
      +validationErrorSummary(errors)
      if user
        div(class="reviewSection") 
          form(method='post' action=`/shows/${show.id}/reviews`)
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('', 'title', review.title, text, 'Title your review', required)
            div
              label(for='comment' class="reviewText")
              textArea(id='comment' name='comment' placeholder='Write your review' required)=review.comment
            div
              button(type='submit' class="submit") Add review!
      
