extends layout
include utils
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet", href="/stylesheets/star.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p(class="homePageTitle") Top Shows
  div(class='showBlock')
    each show in shows
      div(value=show.id)
      div(class="individualShow")
        div(class='titleDiv')
          a(href=`/shows/${show.id}` class="showTitle")= show.title
          div
            a(href=`/shows/${show.id}` )
              img(src=show.imageURL class="showImage")
        div(class="showOptionsDiv")
          if user
            +stars()
            select(name="showShelves" class="showShelfSelect" class='showOptionsBtn')
              each shelf in shelves
                option(value=shelf.id class="showShelfOption" class='showOptionsBtn')= shelf.title
            button(type="click" class="showShelfSubmit" value=user.id id=show.id class='showOptionsBtn') Add to Shelf
