extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Top Twelve Shows 
  div(class='showBlock')
    each show in shows
      div(value=show.id) 
      div(class="individualShow")
        div(class='titleDiv')
          a(href=`/shows/${show.id}` class="showTitle")= show.title
          img(src=show.imageURL class="showImage")
        div(class="showOptionsDiv")
          select(name="Ratings" placeholder="Rate" class='showOptionsBtn')
            option 1
            option 2
            option 3
            option 4
            option 5
          if user
            button(type="click" class="ratingSubmit" class='showOptionsBtn') Rate
            select(name="showShelves" class="showShelfSelect" class='showOptionsBtn') 
              each shelf in shelves
                option(value=shelf.id class="showShelfOption" class='showOptionsBtn')= shelf.title
            button(type="click" class="showShelfSubmit" value=user.id id=show.id class='showOptionsBtn') Add to Shelf
          

