extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to your Project Skeleton
  p Top Ten Shows 
    each show in shows
      div(value=show.id) 
        img(src=show.imageURL)
        div
          a(href=`/shows/${show.id}`)= show.title
          select(name="Ratings" placeholder="Rate")
            option 1
            option 2
            option 3
            option 4
            option 5
          if user
            button(type="click" class="ratingSubmit") Rate
            select(name="showShelves" class="showShelfSelect") 
              each shelf in shelves
                option(value=shelf.id class="showShelfOption" )= shelf.title
            button(type="click" class="showShelfSubmit" value=user.id id=show.id) Add to Shelf
          

