extends layout
append head
  script(src='/javascripts/delete-on-review.js' type='module')
include utils
block content
  img(src=`${review.Show.imageURL}`)
  div
    h1= review.Show.title
  if user && user.id === review.userId
    div(id=review.showId)
      form()
        +field("Title", "title", review.title)
        div
          label(for="Review") User Review:
          textArea(id="comment" name="comment")=review.comment
        div(id=review.showId)
          button(type="submit" class='update-review' id=review.id) Update Review
      button(class="delete-review" id=review.id) Delete Review
  else
    div
      h2=review.title
    div
      p=review.comment
