extends layout
block content
  div
    img(src=show.imageURL)
  div
    h1= show.title
  div
    h2 Number of seasons: #{show.numberOfSeasons}
    h3 Year released: #{show.yearRealeased}
  div
    p= show.synopsis
  div
    each review in reviews
      div(id=review.userId)
        h3=review.title
        h4=review.User.fullName
        p=review.comment
        if user  && user.id  === review.userId
          div
            a(href=`/reviews/delete/${review.id}`) Delete
          div  
            a(href=`/reviews/${review.id}`) Edit
