extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/showshelf.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="showShelfPageTitle")= showShelf.title
  div(class="showShelfContainer")
    each show in shows
      div(class="showShelfShowContainer")
        img(src=show.imageURL class="showShelfPoster")
        div(class="showShelfTitleAndDelete")
          div(class="showShelfTitle")= show.title
          form(action=`/showShelves/${showShelf.id}/shows/${show.id}` method='post' class="showShelfDeleteForm")
            button(type="submit" name='showTitle' class="showShelfDeleteButton") Delete
        div(class="addShelfContainer")
          select(name="theShelves" class="showShelfSelect")
            each shelf in shelves
              option(value=shelf.id class="showShelfOption")= shelf.title
          button(type="click" class="showShelfSubmit" value=user.id id=show.id) Add to Shelf
