extends layout
append head
  script(src='/javascripts/show.js' type='module')
block content
  div
    img(src=show.imageURL)
  div
    h1= show.title
  div
    h2 Number of seasons: #{show.numberOfSeasons}
    h3 Year released: #{show.yearRealeased}
  div
    p= show.synopsis
  div(class="container-ratings" id=show.id)
    if user
      a(href=`/shows/${show.id}/reviews`) Write a review?
      p Rate Show:
      form(class="rating-form" )
        input(type="hidden", name="_csrf", value= csrfToken)
        div
          a(href="" class="star" title="Not great" id=1) 1 of 5
        div
          a(href="" class="star" title="Not bad" id=2) 2 0f 5
        div
          a(href="" class="star" title="Ok" id=3) 3 of 5
        div
          a(href="" class="star" title="Like it" id=4) 4 of 5
        div
          a(href="" class="star" title="Amazing" id=5) 5 0f 5
    else
      a(href='/users/signup') Sign up to review!
  div
    p= avgRating
      span avg. Rating
  div
    iframe(width="420" height="300" src=show.youtubeVideoURL  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  div
    each review in reviews
      div(id=review.showId)
        h3=review.title
        h4=review.User.fullName
        p=review.comment
        if user  && user.id  === review.userId
          button(class="delete-review" id=review.id) Delete
          button(class="edit-review" id=review.id) Edit
