extends layout
block content
  div
    img(src=show.imageURL)
  div
    h1= show.title
  div
    h2 Number of seasons: #{show.numberOfSeasons}
    h3 Year released: #{show.yearRealeased}
  div
    p= show.synopsis
  //- if show.youtubeVideoURL!== null  && show.youtubeVideoURL !== 'autoplay=1&mute=1'
  div
    iframe(width="420" height="300" src=show.youtubeVideoURL  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  div
    each review in reviews
      div(id=review.userId)
        h3=review.title
        h4=review.User.fullName
        p=review.comment
        if user  && user.id  === review.userId
          div
            a(href=`/reviews/delete/${review.id}`) Delete
          div
            a(href=`/reviews/${review.id}`) Edit
