mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
    div
        div(class=fieldName)
            label(for=fieldName class=fieldName)=labelText
        div(class=fieldType)
            input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)

mixin validationErrorSummary(errors)
    if errors
        p The following error(s) have been found:
        ul
            each error in errors
                li= error
mixin stars(showId, rating)
     p(class="background") Rate Show:
        div(class="container-stars" id=showId)
            case rating
                when 1
                    a(href="" class="star on" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star off" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star off" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star off" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star off" title="Amazing" id=showId+"5") 5 of 5
                when 2
                    a(href="" class="star on" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star on" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star off" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star off" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star off" title="Amazing" id=showId+"5") 5 of 5
                when 3
                    a(href="" class="star on" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star on" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star on" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star off" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star off" title="Amazing" id=showId+"5") 5 of 5
                when 4
                    a(href="" class="star on" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star on" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star on" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star on" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star off" title="Amazing" id=showId+"5") 5 of 5
                when 5
                    a(href="" class="star on" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star on" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star on" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star on" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star on" title="Amazing" id=showId+"5") 5 of 5
                default
                    a(href="" class="star off" title="Not great" id=showId+"1") 1 of 5
                    a(href="" class="star off" title="Not bad" id=showId+"2") 2 of 5
                    a(href="" class="star off" title="Ok" id=showId+"3") 3 of 5
                    a(href="" class="star off" title="Like it" id=showId+"4") 4 of 5
                    a(href="" class="star off" title="Amazing" id=showId+"5") 5 of 5

        p(id=`rating${showId}`)
