mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
    div
        label(for=fieldName)=labelText
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder)

mixin validationErrorSummary(errors)
    if errors
        p The following error(s) have been found:
        ul
            each error in errors
                li= error
mixin stars()
     p Rate Show:
        div(class="container-stars")
          //- div
          a(href="" class="star off" title="Not great" id=1) 1 of 5
          //- div
          a(href="" class="star off" title="Not bad" id=2) 2 0f 5
          //- div
          a(href="" class="star off" title="Ok" id=3) 3 of 5
          //- div
          a(href="" class="star off" title="Like it" id=4) 4 of 5
          //- div
          a(href="" class="star" title="Amazing" id=5) 5 0f 5
